<section class="start">
    
    <div class="half">
        <h1>OUR CLOTHING TACKLES THE <br> FUNDAMENTAL CHALLENGES OF OUR <br> TIME :</h1>
    </div>
    
    <div class="points">
        
        <div class="main">
            
            <h3>01<span class="topic">Climate</span> </h3>
            
            <p class="paragraph">As floods and fires sweep across entire countries, and we face <br> life on Earth with new categories of ultraviolent weather, we’re <br> going to need new categories of clothing.</p>
            
            <div class="icon">  
                <fa-icon [icon]="icon"></fa-icon>
                <h6 alt="">Read more</h6>
            </div>
        
        </div>

        <div class="main">
            
            <h3>02<span class="topic">Space</span> </h3>
            
            <p class="paragraph">As floods and fires sweep across entire countries, and we face <br> life on Earth with new categories of ultraviolent weather, we’re <br> going to need new categories of clothing.</p>
            
            <div class="icon">  
                <fa-icon [icon]="icon"></fa-icon>
                <h6 alt="">Read more</h6>
            </div>
        
        </div>

        <div class="main">
            
            <h3>03<span class="topic">Sustainability</span> </h3>
            
            <p class="paragraph">As floods and fires sweep across entire countries, and we face <br> life on Earth with new categories of ultraviolent weather, we’re <br> going to need new categories of clothing.</p>
            
            <div class="icon">  
                <fa-icon [icon]="icon"></fa-icon>
                <h6 alt="">Read more</h6>
            </div>
        
        </div>


        <h3></h3>

    </div>
    
</section>