<section>
<div class="mid-page">
    <h3>MATERIAL TECHNOLOGY</h3>

    <h5>SEE HOW WE’RE USING <br> MATERIAL TECHNOLOGY TO <br> BUILD THE FUTURE </h5>

    <p>Today we work with the most advanced materials in the world. <br> Some started their life at NASA. Others started their life in nature.</p>


    <div class="hover">  
        <fa-icon [icon]="icon"></fa-icon>
        <h6 alt="" >Read more</h6>
    </div>

    
    <div class="images">
        <img src="../../assets/1.webp" width="100%" alt="">
        <img src="../../assets/2.webp" width="100%" alt="">
    </div>
    
</div>
    

<div class="video">
    <video src="../../assets/video.mp4" width="90%"></video>
</div>
</section>
<app-nextpage></app-nextpage>